@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variable buttons */
/* variable alerts */
/* grille */
p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px; }

u {
  text-decoration: underline; }

mark {
  background-color: #F2FF00; }

del {
  font-style: italic;
  text-decoration: line-through; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  cursor: help; }

blockquote::before {
  content: "\"";
  margin: 3px;
  border-left: 3px solid grey; }

code {
  display: inline-block;
  color: red;
  background-color: lightgrey;
  padding: 7px;
  margin: 5px;
  box-shadow: 1px 1px 1px black; }

kbd {
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: #363535;
  border-radius: 3px;
  margin: 5px; }

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer; }

pre {
  display: block;
  margin-left: 3%;
  width: 88%;
  white-space: pre;
  padding: 12px;
  font-size: 1.1rem;
  color: #363636;
  background-color: lightgrey;
  border-radius: 3px;
  overflow: scroll;
  box-shadow: 3px 3px 3px black; }

.align-gauche {
  text-align: left; }

.align-droite {
  text-align: right; }

.align-centre {
  text-align: center; }

.align-justifie {
  text-align: justify; }

.to-maj {
  text-transform: uppercase; }

.to-min {
  text-transform: lowercase; }

table {
  display: inline-block;
  margin: 1rem 1rem 1rem 1rem;
  border: solid 2px black; }
  table.bord_com > tbody > tr > td {
    border: 2px solid black; }
  table.active_surv > tbody > tr:hover > td {
    color: white;
    background-color: #A6A4A4; }
  table.alternate > tbody > tr:nth-child(2n) > td {
    background-color: #EDEDED; }
  table > tbody > tr > th {
    padding: 10px;
    font-weight: bold;
    background-color: #BABABA;
    border-bottom: 3px solid black; }
  table > tbody > tr {
    border-bottom: 0.1px solid black; }
  table > tbody > tr > td {
    background-color: #DBDBDB;
    border-bottom: 0.1px solid black;
    padding: 5px;
    text-align: center; }
  table > tbody > tr {
    background-color: #D1CFCF; }

h1 {
  font-size: 2.7rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.1rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial Bold,Gadget,sans-serif; }

/* rem pour même comportement exact */
h1 > small, h1.sub {
  font-size: 2.4rem;
  color: #454545; }

h2 > small, h2.sub {
  font-size: 2.1rem;
  color: #454545; }

h3 > small, h3.sub {
  font-size: 1.8rem;
  color: #454545; }

h4 > small, h4.sub {
  font-size: 1.5rem;
  color: #454545; }

h5 > small, h5.sub {
  font-size: 1.2rem;
  color: #454545; }

h6 > small, h6.sub {
  font-size: 1rem;
  color: #454545; }

.jumbotron {
  margin-left: auto;
  margin-right: auto;
  background-color: #DBDBDB;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
  margin-top: 20px; }
  .jumbotron h1 h2 h3 h4 h5 h6 {
    display: inline-block; }
  .jumbotron p {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%; }

.header {
  margin: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #E8E8E8;
  box-shadow: 0px 3px 3px 0px #656565;
  padding-left: 5%;
  border-radius: 10px; }
  .header > h1 {
    display: inline-block;
    text-align: left; }
  .header > .sub {
    margin-left: 10px; }

.alert {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey; }
  .alert.alert-danger {
    background-color: #FA5F71; }
  .alert.alert-info {
    background-color: #F2FA5F; }
  .alert.alert-succes {
    background-color: #5FFA62; }

.btn {
  background-color: #D4D4D4;
  text-align: center;
  border-radius: 11px;
  font-family: Arial;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 5px;
  border: 1px grey solid;
  cursor: pointer;
  border: solid black 1px; }
  .btn:hover {
    background: #a0a0a0; }
  .btn:active {
    opacity: 0.8;
    /*-moz-transition: opacity 0.7s;
-webkit-transition: opacity 0.7s;
-o-transition: opacity 0.7s; */ }
  .btn.fancy {
    background: #24a5fc;
    background-image: linear-gradient(to bottom, white, black);
    border-radius: 15px;
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 12px #302f30;
    font-family: Courier New;
    color: black;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    border: solid grey 4px;
    text-decoration: none; }
    .btn.fancy:hover {
      border: solid black 4px; }
  .btn.btn-red {
    background-color: red;
    color: white; }
    .btn.btn-red:hover {
      background-color: #E30202; }
    .btn.btn-red.fancy {
      background-image: linear-gradient(to bottom, white, red);
      color: black; }
  .btn.btn-blue {
    background-color: deepskyblue; }
    .btn.btn-blue:hover {
      background-color: #278ACC; }
    .btn.btn-blue.fancy {
      background-image: linear-gradient(to bottom, white, blue); }
  .btn.btn-yellow {
    color: yellow;
    background-color: #EFF70A;
    color: black; }
    .btn.btn-yellow:hover {
      background-color: #A9B804; }
    .btn.btn-yellow.fancy {
      background-image: linear-gradient(to bottom, white, yellow); }
  .btn.btn-elg {
    width: 100%;
    font-size: 25px; }
  .btn.btn-lg {
    font-size: 20px;
    padding: 10px 20px 10px 20px; }
  .btn.btn-sm {
    font-size: 15px;
    padding: 2px 7px 2px 7px; }
  .btn.flat {
    border: none;
    box-shadow: none;
    border-radius: 0px; }

.span-1 {
  width: 8.5%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-1 * {
    width: 95%; }

.span-2 {
  width: 21%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-2 * {
    width: 95%; }

.span-3 {
  width: 33.5%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-3 * {
    width: 95%; }

.span-4 {
  width: 46%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-4 * {
    width: 95%; }

.span-5 {
  width: 58.5%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-5 * {
    width: 95%; }

.span-6 {
  width: 71%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-6 * {
    width: 95%; }

.span-7 {
  width: 83.5%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-7 * {
    width: 95%; }

.span-8 {
  width: 96%;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -6px;
  vertical-align: top; }
  .span-8 * {
    width: 95%; }

.offset-1 {
  margin-left: 12.5%;
  display: inline-block;
  margin-right: -6px; }

.offset-2 {
  margin-left: 25%;
  display: inline-block;
  margin-right: -6px; }

.offset-3 {
  margin-left: 37.5%;
  display: inline-block;
  margin-right: -6px; }

.offset-4 {
  margin-left: 50%;
  display: inline-block;
  margin-right: -6px; }

.offset-5 {
  margin-left: 62.5%;
  display: inline-block;
  margin-right: -6px; }

.offset-6 {
  margin-left: 75%;
  display: inline-block;
  margin-right: -6px; }

.offset-7 {
  margin-left: 87.5%;
  display: inline-block;
  margin-right: -6px; }

.container {
  width: 100%;
  display: block;
  margin: 15px auto; }

.row {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px; }
  .row p {
    overflow: hidden;
    min-width: 6em; }

ul {
  display: inline-block;
  list-style-type: disc;
  margin: 1em 1em 1em 1.2em;
  /* ma navbar normale*/ }
  ul.square {
    list-style-type: square; }
  ul.none {
    list-style-type: none; }
  ul.pagination {
    border: 1px solid grey;
    color: blue;
    list-style: none;
    border-radius: 5px; }
    ul.pagination li {
      background-color: lightgrey;
      display: inline-block;
      padding: 5px;
      margin: 2px;
      border-radius: 7px; }
      ul.pagination li:hover {
        background-color: grey; }
      ul.pagination li.disabled {
        text-decoration: line-through;
        cursor: not-allowed; }
        ul.pagination li.disabled a {
          cursor: not-allowed; }
      ul.pagination li.active {
        background-color: grey;
        color: white; }
        ul.pagination li.active a {
          color: white; }
      ul.pagination li a {
        text-decoration: none; }
  ul.breadcrumb {
    padding-left: 10px;
    margin: 0;
    display: block;
    color: #596CF7;
    list-style-type: none;
    border-top: 1px solid black;
    margin-top: 20px; }
    ul.breadcrumb li {
      padding-top: 5px;
      display: inline-block;
      font-size: 13px;
      margin-bottom: 10px; }
      ul.breadcrumb li a {
        text-decoration: none;
        color: #596CF7; }
      ul.breadcrumb li:nth-child(n+2):before {
        content: ">"; }
  ul.navbar {
    list-style: none;
    margin: 0;
    background: deepskyblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    ul.navbar li.active {
      background-color: #72D6F7; }
      ul.navbar li.active a:hover {
        background-color: lightblue;
        color: black; }
    ul.navbar li.disabled {
      background-color: #BDBDBD;
      text-decoration: line-through; }
      ul.navbar li.disabled a:hover {
        background-color: #BDBDBD;
        cursor: not-allowed; }
    ul.navbar a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: white;
      border-left: 1px solid white;
      font-size: 1.2em; }
      ul.navbar a:hover {
        font-size: 1.23em;
        background: #007399; }
  @media all and (max-width: 850px) {
    ul.navbar {
      justify-content: space-around; }
      ul.navbar a {
        border: none; } }
  @media all and (max-width: 600px) {
    ul.navbar {
      flex-flow: column wrap;
      padding: 0; }
      ul.navbar a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid white; } }

/*# sourceMappingURL=imp.css.map */
