.container.index {
  display: inline-block;
  width: 69%;
  margin-top: 20px;
  margin-left: 10px;
  border-left: 2px solid grey;
  padding-left: 10px; }
  @media (max-width: 600px) {
    .container.index {
      display: block;
      width: 95%;
      margin: 0 auto;
      border: none; }
      .container.index .row {
        text-align: center; }
        .container.index .row img {
          margin-bottom: 10px;
          padding: 2px;
          border: 2px solid black; }
        .container.index .row .resume {
          border-top: 2px solid grey;
          display: block;
          margin: auto;
          width: 90%;
          padding-top: 15px; } }
  .container.index a {
    text-decoration: none; }
  .container.index img {
    border: 1px solid black;
    width: 100%;
    max-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px; }
  .container.index .row {
    border-top: 1px solid lightgrey;
    box-shadow: 0px 5px 3px 0px grey;
    color: black;
    margin-bottom: 5px; }
    .container.index .row .resume {
      margin-top: 25px;
      max-height: 187px;
      overflow: hidden;
      text-align: center; }
      .container.index .row .resume h4 {
        text-decoration: underline; }
    .container.index .row:hover {
      border-left: 3px solid grey; }
  .container.index.page_cat {
    width: 90%;
    margin-left: 4%; }
    @media (min-width: 850px) {
      .container.index.page_cat {
        border: none; }
        .container.index.page_cat .row {
          margin: auto;
          width: 70%;
          margin-top: 20px; } }
  @media (min-width: 850px) {
    .container.index {
      width: 50%;
      margin-right: auto; } }

.categ {
  margin-top: 20px;
  padding: 3px;
  display: inline-block;
  width: 20%;
  background-color: lightgrey;
  border-radius: 5px; }
  @media (min-width: 850px) {
    .categ {
      margin-left: 10%;
      margin-right: 5px; } }
  @media (max-width: 600px) {
    .categ {
      width: 80%;
      margin-left: 10%;
      text-align: center; }
      .categ li {
        display: inline-block;
        background-color: grey;
        border-radius: 5px;
        padding: 5px; } }
  @media (min-width: 850px) {
    .categ li {
      padding: 20px;
      list-style: none; } }
  .categ li {
    padding-top: 20px; }

.container.annonce {
  width: 90%;
  margin-left: 5%;
  margin-top: 30px; }
  @media (min-width: 850px) {
    .container.annonce {
      padding-right: 10px;
      border-right: 2px solid grey;
      width: 75%;
      margin-left: 12%; } }
  .container.annonce img {
    width: 100%;
    max-width: 250px;
    border: 1px solid black; }
  .container.annonce h3 {
    text-decoration: underline; }
  .container.annonce .images {
    border-bottom: 3px solid lightgrey; }

.res {
  text-align: center;
  margin-top: 35px;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px; }

.details {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey; }
  @media all and (min-width: 850px) {
    .details {
      width: 60%;
      margin-left: 20%; } }
  .details .contact {
    display: inline-block;
    padding: 10px;
    width: 50%;
    border-right: 1px solid grey; }
    @media all and (min-width: 850px) {
      .details .contact {
        padding-left: 3%; } }
    @media all and (max-width: 600px) {
      .details .contact {
        display: block;
        width: 80%;
        margin-left: 10%;
        border: none;
        border-bottom: 1px solid lightgrey;
        text-align: center; } }
  .details .admin {
    display: inline-block;
    width: 25%;
    padding-left: 50px;
    vertical-align: bottom; }
    .details .admin input {
      width: 90%; }
    @media all and (max-width: 600px) {
      .details .admin {
        padding: 0;
        display: block;
        width: 95%;
        margin: auto;
        margin-top: 25px;
        border: none; }
        .details .admin li {
          padding-top: 20px; } }
    @media all and (max-width: 600px) and (min-width: 850px) {
      .details .admin li {
        padding: 25px;
        list-style: none; } }

    .details .admin .container a {
      text-decoration: none; }
    .details .admin .container.rech {
      width: 90%;
      background-color: blue; }
      .details .admin .container.rech .row {
        border: 1px solid red; }

.container.pagerecherche {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  margin: 0 10% 0 10%;
  margin-top: 25px; }

.container.annonce.ajout {
  border-radius: 7px;
  border: 1px solid black;
  width: 80%;
  margin: 0 10% 0 10%;
  margin-top: 25px; }

/*# sourceMappingURL=style.css.map */
